<!DOCTYPE html>

<html xmlns:th="http://www.thymeLeaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'vets')}" >

	<body>
	
	<h2>Vet Information</h2>
	
	<table class="table table-striped" th:object="${vet}">
		<tr>
			<th>Name</th>
			<td><b th:text="*{firstName + ' ' + LastName}"></b></td>
		</tr>
		<tr>
			<th>Specialties</th>
			<td> <span th:each="specialty : ${vet.specialties}"
			th:text="${specialty.name + ' '}" /> <span
			th:if="${vet.nrOfSpecialties == 0}">none</span></td>
		</tr>
	</table>
	<br />
	</body>
</html>